[submodule "content/berita"]
	path = content/berita
	url = https://github.com/ekriptonomi/berita.git

[submodule "ticker-app"]
	path = static/ticker-app
	url = https://github.com/ekriptonomi/ticker-app.git
	branch = gh-pages
[submodule "themes/esensial"]
	path = themes/esensial
	url = https://github.com/ekriptonomi/esensial.git
[submodule "static/assets"]
	path = static/assets
	url = https://github.com/ekriptonomi/assets
[submodule "data"]
	path = data
	url = https://github.com/ekriptonomi/data.git
[submodule "public"]
	path = public
	url = https://github.com/ekriptonomi/ekriptonomi.github.io.git
[submodule "content/kurikulum"]
	path = content/kurikulum
	url = https://github.com/ekriptonomi/kurikulum.git
