<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  {{ range (readDir "./static/ticker-app/static/css") }} 
    {{if (findRE ".css$" .Name) }}
      <link rel="stylesheet" href="/ticker-app/static/css/{{ .Name }}">
    {{ end }}
  {{ end }}
</head>

<body class="has-navbar-fixed-top">
  <nav class="navbar has-shadow is-transparent is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        
        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Beranda</a>
          <a href="/berita" class="navbar-item">Berita</a>
          <a href="/berita" class="navbar-item">Tentang Kami</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-link" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
                  <span class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </span>
                  <span>Belajar</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello Ekriptonomi
      </h1>
      <p class="subtitle">Ekroptonomi dibangun dengan menggunakan <strong>Bulma</strong>!
      </p>
    </div>
  </section>
  {{ partial "ticker.html" .}}
</body>
</html>