{{ partial "header.html" . }}

<section class="hero is-light has-shadow is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-fifths">
          <h1 class="title">
            Ekriptonomi
          </h1>
          <h2 class="subtitle">
            Membahas Seputar Ekonomi Kripto
          </h2>
          <ul>
            <li>
              <div class="box">
                <h2 class="has-text-weight-bold is-size-4">Bagaimana cara kerja mata-uang kripto sebenarnya?</h2>
                <div>Revolusi ekonomi dunia abad 21 dimulai dari kripto. Namun bagaimana cara kerja sebenarnya masih belum banyak orang
                  yang mengetahuinya.</div>
                <div class="has-text-right">
                  <a class="button is-link is-outlined is-medium">Mulai Belajar</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
              <div class="box">
                <h2 class="has-text-weight-bold is-size-4">Apa itu sebenarnya Bitcoin, Ethereum, IOTA, dll?</h2>
                <div>Pelajari uraian lengkap setiap tekhnologi dibalik koin dan token. Temukan jawabannya dengan membaca makalah tekhnis asli di setiap tekhnologinya.</div>
                <div class="has-text-right">
                  <a class="button is-link is-outlined is-medium">Jelajah</a>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <h2 class="has-text-weight-bold is-size-4">Ingin berdiskusi mengenai ekonomi kripto?</h2>
                <div>Berdiskusi dengan ribuan orang tentang masa depan uang kripto, protokolnya dan ekonomi dunia.</div>
                <div class="has-text-right">
                  <a class="button is-link is-outlined is-medium">Ke forum diskusi</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <h1 class="is-size-5">Berita Terkini</h1>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1>Rilis Awal Ekriptonomi</h1>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column">reara</div>
    </div>
  </div>
</section>

{{ partial "ticker.html" .}}
</body>
</html>